.csk {
  background: #ffca28;
}
.mi {
  background: #004ba0;
}
.rcb {
  background: #d62828;
}
.kkr {
  background: #3b2349;
}
.dc {
  background: #0479ff;
}
.pk {
  background: #d90429;
}
.rr {
  background: #e6007e;
}
.srh {
  background: #ff7f20;
}
.lsg {
  background: rgb(5, 115, 232);
}
.gt {
  background: rgb(19, 2, 100);
}
